extends layout
block content
    header.card-header
        h4.card-title Employee List
    div.form-row
        div.col.form-group
            a(href='/employee/addEmployee')  Add New Employee
        div.pull-right
        a(href='/order')  View Order List
    div.form-row
        div.col.form-group.col-md-12   
            form.search(action='/employee')
                div.form-row
                    div.col-md-8
                        input.form-control(name='role' placeholder="Enter your search term(role) ...")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="Submit")
    table.table
        thead.thead-dark
            tr
                th Full Name 
                th Gender
                th Date of birth
                th NIN
                th Residence
                th License Number
                th Past Incidences 
                th Image
                th 
                th
        tbody
            if users.length
            each user in users
                tr
                    td #{user.username}
                    td #{user.gender}
                    td #{user.DoB}
                    td #{user.nin}
                    td #{user.residence}
                    td #{user.license}
                    td #{user.incidences}
                    td #{user.imageupload}
                    td 
                        a(href='/addEmployees/update/'+user._id) Update
                    td
                        form(method="post" action='/employee/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
    div.form-row
        div.pull-right
            a(class='button', href='/') Home