extends layout
block content     
    div.form-row
        h4 Employee List
        div.col.form-group
            a(href='/addEmployees')  Add New Employee
        div.pull-right
        a(href='/requestLists')  View Request List
        div.form-row
        div.pull-right
            a(class='button', href='/dashboard/dashboard') Dashboard
    div.form-row
        div.col.form-group.col-md-12   
            form.search(action='/addEmployees')
                div.form-row
                    div.col-md-8
                        input.form-control(name='username' placeholder="Enter employee's name.")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="Submit")
    table.table
        thead.thead-dark
            tr
                th Full Name 
                th Date of birth
                th Gender
                th NIN
                th Residence
                th Role
                th License Number
                th Past Incidences 
                th 
                th
            
        tbody
            if users.length
            each user in users
                tr
                    td #{user.username}
                    td #{user.DoB}
                    td #{user.gender}
                    td #{user.nin}
                    td #{user.residence}
                    td #{user.role}
                    td #{user.license}
                    td #{user.incidences}
                    td #{user.imageupload}
                    td 
                        a(href='/addEmployees/employeeList/update'+user._id) Update
                    td
                        a(href='/addEmployees/employeeList/delete'+user._id) Delete   
                        